/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-size: 100%;
    font-family: 'Whitney', sans-serif;
}

.mb-3 {
    margin-bottom: 3em;
}

.container{
    width: 80%;
    margin: 0 auto;

    /* border: 1px solid orangered; */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    height: 60px;
    line-height: 60px;

    /* border: 1px solid purple; */
}

img {
    width: 100%;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn-small {
    padding: .6em 1em;
    border-radius: 50px;
    font-size: .8em;
}

.btn-large {
    padding: .9em 1.8em;
    border-radius: 50px;
    font-size: 1em;
}
.btn-white {
    background-color: whitesmoke;
    color: rgb(24, 24, 24);
}

.btn-dark {
    background-color: rgb(24, 24, 24);
    color:whitesmoke;
}


/* HEADER */
header.header {
    height: 60px;

    background-color: rgb(49, 97, 223);
}

.col-logo {
    width: 15%;
}

div.col-logo > img#logo-img {
    height: 50px;
    vertical-align: middle;
}

.col-nav {
    width: 70%;
    text-align: center;
}

.col-btn {
    text-align: right;
    width: 15%;
}

.header-nav ul.nav-list > li {
    display: inline-block;
    color: white;
}

li.nav-item > a.li-link {
    font-size: .9em;
    color: inherit;
    margin-right: 1.5em;
}
/* /HEADER */

/* MAIN */
/* banner */
section.banner-bg-img {
    /* height: 400px; */
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* banner text-align */
.banner-content-container {
    width: 70%;
    margin: 0 auto;
    padding: 4.5em 0;

    /* border: 1px solid fuchsia; */
}

div.banner-content-container > .content {
    margin: 0 auto;
    text-align: center;
    color: white;

    /* border: 1px solid rgb(255, 251, 0); */
}

/* banner text settings*/
div.content > h1.banner-title {
    font-size: 2.5em;
    margin-bottom: .8em;
}

div.content > p.banner-text { 
    font-size: 1em;
    font-weight: 400;
}


/* /MAIN */
